<h1>Listing comments</h1>

<%= will_paginate @comments %>
<%= link_to 'New Comment', new_post_comment_path(@post) %>
<%= link_to 'Back to Posts', posts_path %>

<table>
  <tr>
    <th>Body</th>
    <th>Post</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.body %></td>
    <td><%= comment.post.id %></td>
    <td><%= link_to 'Show Replies', post_comment_path(@post, comment) %></td>
    <td><%= link_to 'Edit', edit_post_comment_path(@post,comment) %></td>
    <td><%= link_to 'Destroy', post_comment_path(@post,comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @comments %>
<%= link_to 'New Comment', new_post_comment_path(@post) %>
<%= link_to 'Back to Posts', posts_path %>

