<h1>Ivan the Terrible's Blog</h1>

<%= will_paginate @posts %>
<%= link_to 'New Post', new_post_path %>

<section class="blog">
<% @posts.each do |post| %>
  <section class="post">
    <h2><%= post.title %></h2>
    <div><%= post.body %></div>
    <div class="post_nav">
      <%= link_to 'Comments', post_comments_path(post) %> |
      <%= link_to 'Edit', edit_post_path(post) %> |
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <div class="comment" id='post_comments<%= post.id %>'>
    </div>
  </section>
  <% end %>
</section>

<br />
<%= will_paginate @posts %>
<%= link_to 'New Post', new_post_path %>

